html(ng-app="myApp")
   head
      meta(charset='utf8')
      base(href='/')
      title shops
      link(href="css/bootstrap.min.css" rel="stylesheet")
      link(rel='stylesheet', href='/css/app.css')
   body
      block body